name: Node js app deploy to EKS private cluster
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted   #ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install kubectl
      uses: azure/setup-kubectl@v2.0
      with:
        version: 'v1.24.0' # default is the latest stable
      id: install

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::737185589565:role/github_actions_roles
        aws-region: ap-south-1

    - name: Login to Amazon ECR,Build, tag, and push docker image to Amazon ECR
      id: login-ecr
      run: |
        aws ecr get-login-password --region ap-south-1 | sudo docker login --username AWS --password-stdin 737185589565.dkr.ecr.ap-south-1.amazonaws.com
        sudo docker build -t testpoc .
        sudo docker tag testpoc:latest 737185589565.dkr.ecr.ap-south-1.amazonaws.com/testpoc:latest-2
        sudo docker push 737185589565.dkr.ecr.ap-south-1.amazonaws.com/testpoc:latest-2

    - name: Update kube config
      run: aws eks update-kubeconfig --name Testpoc
    
    - name: Deploy to EKS
      run: |
        kubectl apply -f deployment.yaml
        kubectl apply -f service.yaml
        kubectl apply -f ingress.yaml
